___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [147]:
def lesser_of_two_evens(a,b):
    if a and b % 2==0:
        if a<b:
            return a
        else:
            return b
    else:
        if a>b:
            return a
        else:
            return b
    pass

In [148]:
def lesser_of_two_evens(a,b):
    if a and b % 2==0:
        return min(a,b)
    else:
        return max(a,b)

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [149]:
def animal_crackers(text):
    
    if text.split()[0][0] == text.split()[1][0]:
        return True
    else:
        return False

In [150]:
def animal_crackers(text):
    worldlist = text.upper().split()
    return worldlist[0][0]== worldlist[1][0]

In [151]:
# Check
animal_crackers('Levelheaded Llama')

True

In [152]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [153]:
def makes_twenty(n1,n2):
    if n1+n2 ==20 or n1==20 or n2==20 :
        return True
    else:
        return False

In [154]:
def makes_twenty(n1,n2):
    return (n1+n2) ==20 or n1==20 or n2==20

In [155]:
# Check
makes_twenty(20,10)

True

In [156]:
# Check
makes_twenty(2,3)

False

In [157]:
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [158]:
def old_macdonald(name):
    
    return name[0].upper()+name[1:3]+name[3].upper()+name[4:]

In [159]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize()+second_half.capitalize()

In [160]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [181]:
def master_yoda(text):
    list=text.split()
    x = list.reverse()
    
    return ' '.join(list)
    pass

In [182]:
# Check
master_yoda('I am home')

'home am I'

In [184]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [161]:
def almost_there(n):
    if 90<=n<=110 or 190<=n<=210:
        return True
    else:
        return False
    pass

In [162]:
def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n)<=10)

In [168]:
abs(10-100)

90

In [169]:
abs(100-10)

90

In [163]:
# Check
almost_there(104)

True

In [164]:
# Check
almost_there(150)

False

In [165]:
# Check
almost_there(209)

True

In [196]:
almost_there(90)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [176]:
def has_33(nums):
  
    
    for n in range(0,len(nums)-1):
        if nums[n]==3 and nums[n+1] ==3:
            return True
    else:
        return False

In [177]:
def has_33(nums):
  
    
    for n in range(0,len(nums)-1):
        if nums[n:n+2] == [3,3]:
            return True
    else:
        return False

In [178]:
# Check
has_33([1, 3, 3])

True

In [179]:
# Check
has_33([1, 3, 1])

False

In [180]:
# Check
has_33([3, 1, 3])

False

In [181]:
has_33([1, 3, 1, 3])

False

In [182]:
has_33([3, 1, 1,2 ])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [183]:
def paper_doll(text):
    x=len(text)
    s=''
    for n in range(x):
        s+=text[n]*3 
    return s
    pass

In [193]:
def paper_doll(text):
    s = ''
    for n in text :
        s += n*3 
    return s

In [191]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [192]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [194]:
def blackjack(a,b,c):
    s=sum((a,b,c))
    if s>21 and 11 in (a,b,c):
        return s-10
    elif s>21:
        return 'BUST'
    elif s<=21:
        return s

In [196]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])  <=31:
        return sum([a,b,c]) - 10
    else:
        return 'Bust'

In [197]:
# Check
blackjack(5,6,7)

18

In [198]:
# Check
blackjack(9,9,9)

'Bust'

In [199]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [202]:
def summer_69(arr):
    
    total =0
    add =True
    
    for num in arr:
        while add:
            if num!=6:
                total +=num
                break
            else:
                add =False
        while not add :
            if num!= 9:
                break
            else:
                add = True
                break
    return total

In [203]:
# Check
summer_69([1, 3, 5])

9

In [204]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [205]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [211]:
def spy_game(nums):
    code=[0,0,7,'x']
    #[0,7,'x']
    #[7,'x']
    #['x'] length =1
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1

In [212]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [213]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [214]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [1]:
def count_primes(num):
    
    #Check for 0 and 1 input
    if num<2:
        return 0
    #############
    # 2 or greater
    ###########
    
    #Store our prime numbers
    
    primes = [2]
    #Counter going up to input num
    x = 3
    
    #x is going through every number up to input num
    while x <= num:
        #Check if x is prime
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x+=2
    print(primes)
    return len(primes)

In [2]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [3]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [12]:
print_big('d')

****
*   *
*   *
*   *
****

## Great Job!